

.copyright{
  padding-top: 250px;
  text-align: center;
}



.ui.button {
  float: right;
  margin-top: 40px;
  margin-bottom: 20px;

}

.ui.button.center {
  float: initial;
  margin-top: 10px;

}

[data-required] label:after {
  content: ' *';
  color: red;
}

footer {
  margin-top: 50px;
  background-color: #720000;
  color: white;
  height:fit-content;
  box-shadow: 0 50vh 0 50vh #720000;
  font-size: large;
  padding-bottom: 25px;
}

.delete {
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

.div.ui.four.column.grid{
  margin-bottom:25px;
}
.login-link-text{
  color: black !important;
}
