.header{
  padding-top:20px;
  padding-bottom: 50px;
}
.sign-up{
  text-align: center;
  padding-top: 20px;
}
.headings {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.text-content {
  margin-left: 200px;
  margin-right: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.copyright{
  padding-top: 250px;
  text-align: center;
}

.ui.button{
  float: right;
}

footer {
  margin-top: 50px;
}