<template name="hello">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
  <h1 class="ui center aligned container">About HotLogBook</h1>
  <div class="ui four item menu">
    <a class="item active" href="About.html">About Us</a>
    <a class="item" href="Memberships.html">Memberships</a>
    <a class="item" href="LoginForm.html">Login</a>
    <a class="item" href="createAccount.html">Create New Account</a>
  </div>
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>
