<template name="header">
  <meta charset="UTF-8">
  <title>HotLogBook</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
 <link rel="stylesheet" href="style.css">

      <h1 class="ui center aligned container">HotLogBook</h1>
  <div class="ui four item menu">
    <a class="item active" href="/">About Us</a>
    <a class="item" href="Memberships.html">Memberships</a>
    <!--<a class="item" href="Login">Login</a>-->
    <a class="item" href="createAccount">Create New Account</a>
    <a href="#" class="right aligned item">{{> loginButtons align="right"}} </a>
      </div>
</template>
